.form-control{
    font-size: inherit; 
    transition: none;
    background-color: transparent;
    border: 0;
    color: #596882;
    background-color: #fff;
    border-color: #7cb2fe;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(1, 104, 250, 0.25);
    color: #7987a1;
    opacity: 1;
  }
  .form-control {
    transition: none; } }
.form-control::-ms-expand {
  background-color: transparent;
  border: 0; }
.form-control:focus {
  color: #596882;
  background-color: #fff;
  border-color: #7cb2fe;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(1, 104, 250, 0.25); }
.form-control::placeholder {
  color: #7987a1;
  opacity: 1; }
.form-control:disabled, .form-control[readonly] {
  background-color: #e3e7ed;
  opacity: 1; }

select.form-control:focus::-ms-value {
color: #596882;
background-color: #fff; }

.form-control-file,
.form-control-range {
display: block;
width: 100%; }
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }
  .form-inline .form-control-plaintext {
    display: inline-block; }
    .input-group > .form-control,
  .input-group > .form-control-plaintext,
  .input-group > .custom-select,
  .input-group > .custom-file {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0; }
    .input-group > .form-control + .form-control,
    .input-group > .form-control + .custom-select,
    .input-group > .form-control + .custom-file,
    .input-group > .form-control-plaintext + .form-control,
    .input-group > .form-control-plaintext + .custom-select,
    .input-group > .form-control-plaintext + .custom-file,
    .input-group > .custom-select + .form-control,
    .input-group > .custom-select + .custom-select,
    .input-group > .custom-select + .custom-file,
    .input-group > .custom-file + .form-control,
    .input-group > .custom-file + .custom-select,
    .input-group > .custom-file + .custom-file {
      margin-left: -1px; }
  .input-group > .form-control:focus,
  .input-group > .custom-select:focus,
  .input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
    z-index: 3; }
  .input-group > .custom-file .custom-file-input:focus {
    z-index: 4; }
  .input-group > .form-control:not(:last-child),
  .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .input-group > .form-control:not(:first-child),
  .input-group > .custom-select:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    .form-control {
        color: #1b2e4b;
        font-size: inherit; }
        .form-control::placeholder {
          color: #c0ccda; }
        .form-control:disabled, .form-control[readonly] {
          background-color: #f5f6fa; }
      
      textarea.form-control {
        min-height: 38px; }
        .search-form .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-width: 0; }
            .search-form .form-control:focus, .search-form .form-control:active {
              border-color: #002e5b;
              box-shadow: none !important; }
              .search-form .form-control:focus + button, .search-form .form-control:active + button {
                border-color: #002e5b; }
                .form-control {
                    border-radius: 0.25rem; }
                    .form-control {
                        background-color: #fef9f9;
                        border-color: #e5d335;
                        border-bottom-width: 0;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0; }
                      
                      .parsley-style-1 .parsley-input.parsley-success .form-control {
                        border-color: #2e5b00; }
                        .form-control {
                            font-size: 16px; } }
                        .navbar-search-header .form-control::placeholder {
                          font-weight: 400; }
                        .navbar-search-header .form-control:focus, .navbar-search-header .form-control:active {
                          box-shadow: none !important; }
                      .navbar-search-header .btn, .navbar-search-header .ui-datepicker-buttonpane button, .ui-datepicker-buttonpane .navbar-search-header button, .navbar-search-header .sp-container button, .sp-container .navbar-search-header button {
                        padding: 0; }
                        .form-control {
                            padding: 0;
                            border-width: 0;
                            background-color: transparent; }
                            .content-search .form-control:focus {
                              box-shadow: none;
                              color: #1b2e4b; }
                              .form-control {
                                display: block;
                                width: 100%;
                                height: calc(1.5em + 0.9375rem + 2px);
                                padding: 0.46875rem 0.625rem;
                                font-size: 0.875rem;
                                font-weight: 400;
                                line-height: 1.5;
                                color: #596882;
                                background-color: #fff;
                                background-clip: padding-box;
                                border: 1px solid #c0ccda;
                                border-radius: 0.25rem;
                                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
                                @media (prefers-reduced-motion: reduce) {
                                  .form-control {
                                    transition: none; } }
                                .form-control::-ms-expand {
                                  background-color: transparent;
                                  border: 0; }
                                .form-control:focus {
                                  color: #596882;
                                  background-color: #fff;
                                  border-color: #7cb2fe;
                                  outline: 0;
                                  box-shadow: 0 0 0 0.2rem rgba(1, 104, 250, 0.25); }
                                .form-control::placeholder {
                                  color: #7987a1;
                                  opacity: 1; }
                                .form-control:disabled, .form-control[readonly] {
                                  background-color: #e3e7ed;
                                  opacity: 1; }
                              
                              select.form-control:focus::-ms-value {
                                color: #596882;
                                background-color: #fff; }
                              
                              .form-control-file,
                              .form-control-range {
                                display: block;
                                width: 100%; }
                                .form-control-plaintext {
                                    display: block;
                                    width: 100%;
                                    padding-top: 0.46875rem;
                                    padding-bottom: 0.46875rem;
                                    margin-bottom: 0;
                                    line-height: 1.5;
                                    color: #001737;
                                    background-color: transparent;
                                    border: solid transparent;
                                    border-width: 1px 0; }
                                    .form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
                                      padding-right: 0;
                                      padding-left: 0; }
                                  
                                  .form-control-sm {
                                    height: calc(1.5em + 0.782rem + 2px);
                                    padding: 0.391rem 0.5rem;
                                    font-size: 0.8125rem;
                                    line-height: 1.5;
                                    border-radius: 0.2rem; }
                                  
                                  .form-control-lg {
                                    height: calc(1.5em + 1.2rem + 2px);
                                    padding: 0.6rem 1rem;
                                    font-size: 1.09375rem;
                                    line-height: 1.5;
                                    border-radius: 0.3rem; }
                                  
                                  select.form-control[size], select.form-control[multiple] {
                                    height: auto; }
                                  
                                  textarea.form-control {
                                    height: auto; }   
                                    .was-validated .form-control:valid, .form-control.is-valid {
                                        border-color: #2e5b00;
                                        padding-right: calc(1.5em + 0.9375rem);
                                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2391BC54' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
                                        background-repeat: no-repeat;
                                        background-position: center right calc(0.375em + 0.23438rem);
                                        background-size: calc(0.75em + 0.46875rem) calc(0.75em + 0.46875rem); }
                                        .was-validated .form-control:valid:focus, .form-control.is-valid:focus {
                                          border-color: #2e5b00;
                                          box-shadow: 0 0 0 0.2rem rgba(16, 183, 89, 0.25); }
                                        .was-validated .form-control:valid ~ .valid-feedback,
                                        .was-validated .form-control:valid ~ .valid-tooltip, .form-control.is-valid ~ .valid-feedback,
                                        .form-control.is-valid ~ .valid-tooltip {
                                          display: block; }
                                      
                                      .was-validated textarea.form-control:valid, textarea.form-control.is-valid {
                                        padding-right: calc(1.5em + 0.9375rem);
                                        background-position: top calc(0.375em + 0.23438rem) right calc(0.375em + 0.23438rem); }
                                        .form-control-file:valid ~ .valid-feedback,
                                        .was-validated .form-control-file:valid ~ .valid-tooltip, .form-control-file.is-valid ~ .valid-feedback,
                                        .form-control-file.is-valid ~ .valid-tooltip {
                                          display: block; }
                                          .form-control:invalid, .form-control.is-invalid {
                                            border-color: #e5d335;
                                            padding-right: calc(1.5em + 0.9375rem);
                                            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23BCBBDD' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23BCBBDD' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
                                            background-repeat: no-repeat;
                                            background-position: center right calc(0.375em + 0.23438rem);
                                            background-size: calc(0.75em + 0.46875rem) calc(0.75em + 0.46875rem); }
                                            .was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
                                              border-color: #e5d335;
                                              box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }
                                            .was-validated .form-control:invalid ~ .invalid-feedback,
                                            .was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback,
                                            .form-control.is-invalid ~ .invalid-tooltip {
                                              display: block; }
                                          
                                          .was-validated textarea.form-control:invalid, textarea.form-control.is-invalid {
                                            padding-right: calc(1.5em + 0.9375rem);
                                            background-position: top calc(0.375em + 0.23438rem) right calc(0.375em + 0.23438rem); }
                                            .form-control-file:invalid ~ .invalid-feedback,
                                            .was-validated .form-control-file:invalid ~ .invalid-tooltip, .form-control-file.is-invalid ~ .invalid-feedback,
                                            .form-control-file.is-invalid ~ .invalid-tooltip {
                                              display: block; }.form-control {
                                                display: inline-block;
                                                width: auto;
                                                vertical-align: middle; }
                                              .form-inline .form-control-plaintext {
                                                display: inline-block; }
                                              .form-inline .input-group,
                                              .form-inline .custom-select {
                                                width: auto; }
                                              .form-inline .form-check {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                width: auto;
                                                padding-left: 0; }
                                              .form-inline .form-check-input {
                                                position: relative;
                                                flex-shrink: 0;
                                                margin-top: 0;
                                                margin-right: 0.25rem;
                                                margin-left: 0; }
                                              .form-inline .custom-control {
                                                align-items: center;
                                                justify-content: center; }
                                              .form-inline .custom-control-label {
                                                margin-bottom: 0; } }.input-group > .form-control,
                                                .input-group > .form-control-plaintext,
                                                .input-group > .custom-select,
                                                .input-group > .custom-file {
                                                  position: relative;
                                                  flex: 1 1 auto;
                                                  width: 1%;
                                                  margin-bottom: 0; }
                                                  .input-group > .form-control + .form-control,
                                                  .input-group > .form-control + .custom-select,
                                                  .input-group > .form-control + .custom-file,
                                                  .input-group > .form-control-plaintext + .form-control,
                                                  .input-group > .form-control-plaintext + .custom-select,
                                                  .input-group > .form-control-plaintext + .custom-file,
                                                  .input-group > .custom-select + .form-control,
                                                  .input-group > .custom-select + .custom-select,
                                                  .input-group > .custom-select + .custom-file,
                                                  .input-group > .custom-file + .form-control,
                                                  .input-group > .custom-file + .custom-select,
                                                  .input-group > .custom-file + .custom-file {
                                                    margin-left: -1px; }
                                                .input-group > .form-control:focus,
                                                .input-group > .custom-select:focus,
                                                .input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
                                                  z-index: 3; }
                                                .input-group > .custom-file .custom-file-input:focus {
                                                  z-index: 4; }
                                                .input-group > .form-control:not(:last-child),
                                                .input-group > .custom-select:not(:last-child) {
                                                  border-top-right-radius: 0;
                                                  border-bottom-right-radius: 0; }
                                                .input-group > .form-control:not(:first-child),
                                                .input-group > .custom-select:not(:first-child) {
                                                  border-top-left-radius: 0;
                                                  border-bottom-left-radius: 0; } .form-control:not(textarea),
                                                  .input-group-sm > .custom-select {
                                                    height: calc(1.5em + 0.782rem + 2px); }
                                                  
                                                  .input-group-sm > .form-control,
                                                  .input-group-sm > .custom-select,
                                                  .input-group-sm > .input-group-prepend > .input-group-text,
                                                  .input-group-sm > .input-group-append > .input-group-text,
                                                  .input-group-sm > .input-group-prepend > .btn,
                                                  .ui-datepicker-buttonpane .input-group-sm > .input-group-prepend > button,
                                                  .sp-container .input-group-sm > .input-group-prepend > button,
                                                  .input-group-sm > .input-group-append > .btn,
                                                  .ui-datepicker-buttonpane .input-group-sm > .input-group-append > button,
                                                  .sp-container .input-group-sm > .input-group-append > button {
                                                    padding: 0.391rem 0.5rem;
                                                    font-size: 0.8125rem;
                                                    line-height: 1.5;
                                                    border-radius: 0.2rem; }.form-control,
                                                    .demo-forms .input-group-text {
                                                      font-size: inherit; }
                                                      .spinner-border {
                                                        to {
                                                          transform: rotate(360deg); } }
                                                      
                                                      .spinner-border {
                                                        display: inline-block;
                                                        width: 2rem;
                                                        height: 2rem;
                                                        vertical-align: text-bottom;
                                                        border: 0.25em solid currentColor;
                                                        border-right-color: transparent;
                                                        border-radius: 50%;
                                                        animation: spinner-border .75s linear infinite; }
                                                      
                                                      .spinner-border-sm {
                                                        width: 1rem;
                                                        height: 1rem;
                                                        border-width: 0.2em; }
                                                      
                                                      @keyframes spinner-grow {
                                                        0% {
                                                          transform: scale(0); }
                                                        50% {
                                                          opacity: 1; } }
                                                      
                                                      .spinner-grow {
                                                        display: inline-block;
                                                        width: 2rem;
                                                        height: 2rem;
                                                        vertical-align: text-bottom;
                                                        background-color: currentColor;
                                                        border-radius: 50%;
                                                        opacity: 0;
                                                        animation: spinner-grow .75s linear infinite; }
                                                      
                                                      .spinner-grow-sm {
                                                        width: 1rem;
                                                        height: 1rem; }
                                                                                                                                                                                             